[submodule "src/robotiq"]
	path = src/robotiq
	url = https://github.com/ros-industrial/robotiq
[submodule "src/journal/src/concytec_presentation"]
	path = src/journal/src/concytec_presentation
	url = https://github.com/EmanuelSamir/concytec_presentation.git
