<?xml version="1.0"?>
<!-- TESIS JHON: Mostrar UR5 en el simulado dinámico Gazebo -->

<!-- Simulation configuration -->
<launch>
  <arg name="limited" default="true" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="transmission_hw_interface" default="hardware_interface/EffortJointInterface" doc="Simulation Gazebo" />
  <arg name="paused" default="true" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ur5_description)/worlds/mundo_ejemplo.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Robot UR5 + Gripper -->
    <!-- send robot urdf to param server -->
    <include file="$(find ur5_description)/launch/ur5_robotiq_140_upload.launch">
      <arg name="limited" value="$(arg limited)"/>
      <arg name="transmission_hw_interface" value="$(arg transmission_hw_interface)"/>	
    </include>

    <!-- Robot state publisher --> <!-- Convert joint states to /tf tranforms -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="125" />
      <param name="tf_prefix" type="string" value="" />
    </node>

    <!-- Controller file -->
    <!-- Load joint controller configurations from YAML file to parameter server --> 
    <rosparam file="$(find ur5_description)/control/ur5_robotiq_140_controller.yaml" command="load"/>
    
    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller 
                          shoulder_pan_joint_controller
                          shoulder_lift_joint_controller
                          elbow_joint_controller
                          wrist_1_joint_controller
                          wrist_2_joint_controller
                          wrist_3_joint_controller
                          gripper_controller"/> 

</launch>




























