<?xml version="1.0"?>
<launch>
	<param name="robot_description" command="$(find xacro)/xacro.py --inorder $(find  sawyer_description)/urdf/sawyer.urdf.xacro" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<arg name="config_file" value="$(find lab1)/config/sawyer.rviz"/>
	<node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(arg config_file)"/>
</launch>